.container{
    width: 60vw;
    margin: 10vh auto;
}

.title{
    font-size: 2em;
    font-weight: 800;
    color: #fff;
    margin-bottom: 2rem;
}

.label {
    color: #A5A0A0;
    font-size: 1rem;
    font-weight: 500;
}

.input{
    margin-top: 0.5rem;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

.input:focus{
    outline: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.radioBtnContainer{
    margin-bottom: 1.75rem;
}

.radioBtnText{
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: 10px;
}

.questionHeaderContainer{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.questionTitle{
    background: #4A2BC5;
    background: linear-gradient(to right, #4A2BC5 0%, #B71DCF 15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.question{
    width: max-content;
}

.questionAddBtn{
    border: none;
    color: white;
    font-weight: 600;
    padding: 7.5px 15px;
    margin-left: 1.5rem;
    border-radius: 20px;
    background: #4A2BC5;
    background: linear-gradient(to right, #4A2BC5 0%, #B71DCF 65%);
}

.questionAddBtn:hover{
    cursor: pointer;
}

.questionsContainer{
    min-height: 15rem;
    width: 100%;
    margin-top: 1.75rem;
}

.questionContainer{ 
    margin-top: 2rem;
}

.questionTitleContainer{
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

/* hide btn */

.questionContainer .editBtn{
    display: none;
}

.questionContainer:hover .editBtn{
    display: block;
}


.editBtn{
    margin-left: 2rem;
}

.editBtn:hover{
    cursor: pointer;
}

.optionsContainer{
    margin-top: 1rem;
}

.option {
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    border: 1px solid #212533;
    box-shadow: 3px 3px 6px #14161f, -3px -3px 6px #1a1e29;
}

.percent{
    height: 100%;
    width: 30%;
    background-color: #1a1e29;
}

.questionEmptyMessage{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    justify-content: center;
    border: 1px dotted #A5A0A0;
    border-radius: 5px;
}

.submitBtn{
    border: none;
    color: white;
    font-size: 1.0125rem;
    font-weight: 700;
    padding: 9px 18px;
    margin-top: 3rem;
    border-radius: 4px;
    background: #4A2BC5;
    background: linear-gradient(to right, #4A2BC5 0%, #B71DCF 65%);
}

.blur{
    filter: blur(2px);
}

.connectContainer{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.connectBtn{
    border: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 3rem;
    border-radius: 4px;
    background: #4A2BC5;
    background: linear-gradient(to right, #4A2BC5 0%, #B71DCF 65%);
}


@media screen and (max-width: 850px){
    .container{
        width: 80vw;        
    }

    .modal{
        width: 80vw;
        max-width: 35rem;
    }

}
    


