.container{
    width: 60vw;
    margin: 10vh auto;
}

.center{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    font-size: 2em;
    font-weight: 800;
    color: #fff;
    margin-bottom: 2rem;
}

.label {
    color: #A5A0A0;
    font-size: 1rem;
    font-weight: 500;
}

.questionsContainer{
    min-height: 15rem;
    width: 100%;
    margin-top: 1.75rem;
}

.questionContainer{ 
    margin-top: 2rem
}

.questionTitleContainer{
    display: flex;
    align-items: center;
}

.optionsContainer{
    margin-top: 1rem;
}

.option {
    margin-bottom: 7px;
}

.input{
    margin-top: 0.5rem;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

.input:focus{
    outline: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.radioBtnContainer{
    margin-bottom: 1.75rem;
}

.radioBtnText{
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: 10px;
}

.submitBtn{
    border: none;
    color: white;
    font-size: 1.0125rem;
    font-weight: 700;
    padding: 9px 18px;
    margin-top: 3rem;
    border-radius: 4px;
    background: #4A2BC5;
    background: linear-gradient(to right, #4A2BC5 0%, #B71DCF 65%);
}