.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;  
  margin-top: 4rem;
}

.logo{
  align-self: center;
  font-size: 1.125rem;
  font-weight: 500;
}

.homepageContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 7.5rem;
}

.subTitle{
  font-size: 1.125rem;
  font-weight: bold;
  color: #A5A0A0;
  margin-top: 1rem;

}

.title{
  font-size: 4em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 80vw;
}

.gradient{
  background: #4A2BC5;
  background: linear-gradient(to right, #4A2BC5 0%, #B71DCF 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.btn{
  background-color: #246BFD;
  color: #fff;
  border: 1px solid #000;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  margin-top: 2rem;
  font-size: 1.0125rem;
  font-weight: bold;
}

.arrow{
  background-color: #246BFD;
  margin-left: 5px;
  margin-bottom: -3px;
  font-weight: 600;
}

.footer{
  font-size: 0.9rem;
  font-weight: bold;
  color: #A5A0A0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px){
  .title{
    font-size: 3em;
    width: 90vw;
  }
}
  
